.card {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.card-img {
  width: auto;
  height: 100%;
  border-radius: 0%;
}

.colorLetraTitulo {
  color: #642c29;
}

.txtAreaDesactivado{
    resize: none;
}

.tamanioLetraBoton {
  font-size: 11px;
}

.fondoLinkCard {
  background-color: #642c29;
}

.carousel-control-next {
  top: 90%;
  right: 25%;
  margin: 10px;
}

.carousel-control-prev {
  top: 90%;
  left: 25%;
  margin: 10px;
}

div.carousel-indicators {
  margin: 6px;
  width: 10%;
  left: 45%;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  background-color: rgba(0, 255, 255, 0);
  border: 2px solid rgba(0, 255, 157, 0.733);
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: invert(1);
}

.tamanioCardItemCarousel {
  width: 200px;
}

.cardsActivas {
  display: none;
}

@media (min-width: 576px) {
  .tamanioLetraBoton {
    font-size: 16px;
  }

  .cardsActivas {
    display: block;
  }
}
