#root{
    background-color: var(--colorFondo);
}
img{
    width: 50%; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 100%; /* Ancho máximo de la imagen */
}

.btn-primary{
    --bs-btn-bg: red;
}