#root{
    background-color: var(--colorFondo);
}
img{
    width: 50%; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 100%; /* Ancho máximo de la imagen */
}

.btn.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--colorPrincipal);
    --bs-btn-border-color :var(--colorPrincipal);
    --bs-btn-hover-bg: #4c2220;
    --bs-btn-hover-border-color: #4c2220;
    --bs-btn-active-bg:#4c2220;
    --bs-btn-active-border-color:var(--colorPrincipal);
    --bs-btn-disabled-bg:var(--colorPrincipal);
    --bs-btn-disabled-border-color:var(--colorPrincipal);
  }