.imgbanner{
    width: 100%;
    object-fit: cover;
}

.fondo{
    background-color: #e9e0c8;
}
.card-contenedor-dest{
    max-width: 20rem;
    margin: 8px;
}
.card-img-dest{
max-width: 20rem;
object-fit: cover;
border-radius: 5px;

}
.card-contenido{
    height: 100%;
    width: 20rem;
  background-color: #642c2905;
}


.img-modal-detalles{
    width: 100%;
}
.fondo-img-modal{
    background-color: #ffffff5f;
    
}

.color-texto-destacado{
    color: #642c29;
    border-color: #642c29;
}


/* tamaño chico */
@media (max-width: 576px)  { 
    .card-contenido{
        padding-top: 5rem;
        height: 100%;
    }
    .contenedor-modal{
        flex-direction: column;
    }
    .cambio-card-sm{
        flex-direction: column;
    }
}
/* tamaño medio */
@media (min-width: 577px) and (max-width: 991px){ 
    .card-contenido{
        padding-top: 5rem;
        height: 100%;
    }
    .contenedor-modal{
        flex-direction: column;
    }
 }

/* tamaño grande */
@media (min-width: 992px) {
   
 }
