.imgbanner{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.fondo{
    background-color: #e9e0c8;
}
.card-contenedor-dest{
    max-width: 20rem;
    margin: 8px;
}
.card-img-dest{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}
.contenedor-img-recomendada{
    width: 300px;
    height: 300px;
}
.card-body-tamanio{
    
    width: 45vh;
  
}

.fuente-modal-detalles{
    font-size: 15px;
}


.img-modal-detalles{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fondo-img-modal{
    width: 100vh;
    height: 350px;
    
}
.texto-marron{
    color: #642c29;
}
.color-texto-destacado{
    color: #642c29;
    border-color: #642c29;
}
.direccion-cards{
    background-color: #642c29;
}
.glass-efect{
    margin: 0.6rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
}
.img-reservas{
    object-fit: cover;
}
.direccion-img{
  background-image: "https://www.lavanguardia.com/files/image_948_465/uploads/2018/09/20/5e997ffa45f82.jpeg";
    
    object-fit: cover;
}
    
.maps-style{
    width: 100%;
    height: 50vh;
    padding-right: 15px; 
}

@media (max-width: 576px)  { 
    .imgbanner{
        height: 40vh;
    }
    .contenedor-img-recomendada{
        width: 90%;
        
    }
    .swiper-slide img{
       display: flex;
       justify-content: center;
       align-content: center;
    }
   
    .contenedor-modal{
        flex-direction: column;
    }
    .cambio-card-sm{
        flex-direction: column;
    }
    .glass-efect{
        display: flex;
        flex-direction: column;
    }
    .contenedor-img-recomendada{
        width: 100vh;
    }
    .fondo-img-modal{
        width: 100%;
        height: 50%; 
    }
    
}

@media (min-width: 577px) and (max-width: 991px){ 
    .imgbanner{
        height: 40vh;
    }
    .card-contenido{
        padding-top: 5rem;
        height: 100%;
    }
    .contenedor-modal{
        flex-direction: column;
    }
    .img-modal-detalles{
        width: 100%;
        object-fit: cover;
    }
    .fondo-img-modal{
        width: 100%;
        height: 50%;
    }
 }


@media (min-width: 992px) {
   
 }
