@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather:ital,wght@0,400;1,300&display=swap');


#root {
  display: flex;
  flex-direction: column;
}

:root {
  --colorPrincipal:  #642c29 ;
  --colorSecundario:#5e83a1 ;
  --colorTerciario:  #a6c6dc ;
  --colorFondo:  #e9e0c8 ;
}



h1{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h2,h3,h4,h5,h6{
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

*{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  /* background-color: #e9e0c8; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h2,h1{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.mainPage {
  flex-grow: 1;
}

.colorBoton1 {
  background-color: #394fb1;
}

.colorBoton2 {
  background-color: #2db911;
}

footer,
.NavFondo {
  background-color: #521c19;
  background-image: linear-gradient(90deg, #521c19 0%, #284d6c 100%);
}

.footerTitulos {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.footerCuerpos {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.footerRedes {
  display: flex;
  justify-content: center;
}

.contenedor-navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo-brand {
  width: 30%;
  flex-grow: 1;
}
.logoNav {
  width: 100%;
}
.botones-seciones {
  width: 35%;
}
.links-nav {
  width: 35%;
}
@media all and (max-width: 767px) {
  .logoFooter {
    width: 50%;
  }
  .logo-brand {
    width: 33%;
  }
  .logoNav {
    width: 45%;
  }
  .botones-seciones {
    width: auto;
  }
  .links-nav {
    width: 0%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logoFooter {
    width: 35%;
    margin-bottom: 5%;
  }
  .logoNav {
    width: 35%;
  }
  .botones-seciones {
    width: auto;
  }
  .links-nav {
    width: 0%;
  }
}
@media all and (min-width: 992px) {
  .logoFooter {
    width: 100%;
  }
  .logoNav {
    width: 35%;
  }
}
/* login */

.botonSesion{
  background-color:#642c29;
  border-color: #642c29;
}

.botonSesion:hover {
  background-color: rgb(120, 62, 62);
  border-color:rgb(120, 62, 62) ;
}


.linkLoginUsuario{
  color: #935653;
}

.linkLoginUsuario:hover {
color: #461d1b;
}
.linkLoginContraseña{
  color: #935653;
}

.linkLoginContraseña:hover {
color: #461d1b;
}

.linkRegistrate{
  color: #935653;
}
.linkRegistrate:hover{
  color: #461d1b;
}

.botonRegistrarse{
  background-color:#642c29;
  border-color: #642c29;
}

.botonRegistrarse:hover{
  background-color: rgb(120, 62, 62);
  border-color:rgb(120, 62, 62) ;
}
