.container-Login {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .welcome-section {
    flex: 1;
    padding: 20px;
  }
  
  .login-section {
    flex: 1;
    padding: 20px;
  }
  
  .social-login {
    margin-bottom: 20px;
  }
  
  .social-button {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .social-button:last-child {
    margin-bottom: 0;
  }
  
  